<div class="hero-unit">
  <h1>All the  statuses</h1>
</div>

<%@statuses.sort!{ |x,y| y.updated_at <=>x.updated_at}%>
<%if !@statuses.empty?%>
  <% @statuses.each do |status| %>
    <div class= "status">
      <strong><%= status.user.full_name%></strong>
      <p><%= status.content%></p>
      <div class="meta">
        <%= link_to time_ago_in_words(status.created_at) + " ago ", status %>
      <span class="admin">
           | <%=link_to "Edit", edit_status_path(status)%> |
          <%=link_to "Delete", status, method: :delete, data:{confirm: "Are you sure your want to delete this status?"}%>
      </span>
      </div>
    </div>
  <%end%>
<%else%>
<div class="alert alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>Statuses Empty! :( </p>
</div>
<%end%>

<%if user_session%>
  <br><%= link_to "Post a New Status", new_status_path, class: "btn btn-success" %>
<%else%>
  <br>Don't have a Treebook account? <%=link_to "Registrer", new_user_registration_path, class: "btn"%><br><br>
  Already have a Treebook account? <%=link_to "Log in", new_user_session_path, class: "btn btn-success"%>
<%end%>